<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="https://cveproject.github.io" class="pull-left"><img src="/img/CVE_r.png" style="max-height: 125px; max-width: 150px; margin-top: 6px; margin-bottom: 3px; margin-right: 20px; "></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	      
      	 <li><a href="https://cveproject.github.io">Home</a></li>        
		
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">CVE Services <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="https://cveproject.github.io/automation-cve-services#services-overview">Services Overview</a></li>
	    <li role="presentation"><a href="https://cveproject.github.io/automation-cve-services#json-overview">JSON Overview</a></li>
            <li role="presentation"><a href="https://cveproject.github.io/automation-transition">Getting Started with CVE Services/a></li>		  
	    <li role="presentation"><a href="https://cveproject.github.io/automation-cve-services#additional-resources">Additional Resources</a></li>
	  </ul>		
		
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Automation Transition <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="https://cveproject.github.io/automation-transition">Transition Details</a></li>
            <li role="presentation"><a href="https://cveproject.github.io/automation-transition">CVE Services 2.1/CVE JSON 5.0 Soft Deploy – Known Issues</a></li>
            <li role="presentation"><a href="https://cveproject.github.io/automation-transition">IDR/RSUS/CVE JSON 5.0 – Transition FAQs</a></li>		  
	    <li role="presentation"><a href="https://cveproject.github.io/automation-transition#additional-resources">Additional Resources</a></li>
	  </ul>		
		
	<li><a href="https://cveproject.github.io/automation-announcements">Latest Announcements</a></li> 	

      </ul>    

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
		  <li><a href="https://www.cve.org/Media/News/item/blog/2022/01/18/CVE-List-Download-Formats-Are">Learn about: <strong>CVE Downloads Changing</strong></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  </div>

</header>
