<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="https://cveproject.github.io" class="pull-left"><img src="/img/cve_logo_gray.png" style="max-height: 90px; max-width: 110px; margin-top: 3px;"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	      
      	 <li><a href="https://cveproject.github.io">Home</a></li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">CNAs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="https://cve.mitre.org/cve/cna.html">What Is a CNA? (cve.mitre.org)</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a href="/docs/cna/resources/index.html">CNA Resources</a></li>
            <li role="presentation"><a href="/docs/cna/training_slides/index.html">CNA Training Slides</a></li>
            <li role="presentation"><a href="/docs/cna/processes_documentation/index.html">CNA Processes Documentation</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Content Development <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/docs/content/CVE%20Counting%20-%20Draft%20for%20comment%20-%202016-03-22.pdf">CVE Counting-Draft (PDF)</a></li>
            <li role="presentation"><a href="/docs/content/key-details-phrasing.pdf">Key Details Phrasing (PDF)</a></li>
          </ul>
         </li>
        	
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Requesters <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="https://github.com/CVEProject/cveproject.github.io/blob/master/requester/reservation-guidelines.md">Researcher Reservation Guidelines</a></li>
          </ul>
         </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Working Groups <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">&nbsp;&nbsp;<strong>Automation Working Group</a></strong></li>
	    <li role="presentation"><a href="https://github.com/CVEProject/cvelist">CVE List GitHub Automation Pilot</a></li>
	    <li role="presentation"><a href="https://github.com/CVEProject/automation-working-group/tree/master/cve_json_schema">CVE JSON Schema Project</a></li> 		  
	    <li role="presentation"><a href="https://github.com/CVEProject/CNA-registry-project-AWG">CNA Registry Project</a></li>
            <li role="presentation"><a href="https://github.com/CVEProject/automation-working-group/blob/master/CAWG_Charter_DRAFT.md">AWG Charter</a></li>
            <li role="presentation"><a href="https://github.com/CVEProject/automation-working-group">AWG GitHub Repository</a></li>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation">&nbsp;&nbsp;<strong>Strategic Working Group</a></strong></li>
	    <li role="presentation"><a href="https://github.com/CVEProject/strategic-planning-working-group">SPWG GitHub Repository</a></li>
          </ul>
        </li>

	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">CVE Board <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="https://cve.mitre.org/community/board/charter.html">Board Charter v2.5 (cve.mitre.org)</a></li>
	    <li role="presentation"><a href="https://cve.mitre.org/community/board/archive.html#meeting_summaries">Board Meeting Summaries (cve.mitre.org)</a></li>
	    <li role="presentation"><a href="https://cve.mitre.org/community/board/archive.html#board_mail_list_archive">Board Discussion Archives (cve.mitre.org)</a></li>		   </ul>						

      </ul>    

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
		  <li><a href="https://cve.mitre.org/">Go to Main CVE Website</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  </div>

</header>
