<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="https://www.cve.org" class="pull-left"><img src="/img/CVE_r.png" style="max-height: 125px; max-width: 150px; margin-top: 6px; margin-bottom: 3px; margin-right: 20px; "></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	      
      	 <li><a href="https://www.cve.org">CVE.ORG website</a></li>
		 <li><a href="https://github.com/CVEProject/cvelistV5">Learn about: <strong>CVE Program Bulk Data Distribution Capability</strong></a></li>
		  
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
		  <li><a href="https://github.com/CVEProject/cvelistV5">Learn about: <strong>CVE Program’s bulk data distribution capability</strong></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  </div>

</header>
